# Python bytecode
*.py[cod]
__pycache__/
*.pyc

# Environment variables
.env
.env.*

# Django specific
db.sqlite3
*.sqlite3
*.log
media/
staticfiles/

# Virtual environments
venv/
env/
# macOS and Windows
.DS_Store
Thumbs.db

# VSCode
.vscode/
.idea/
*.sublime-workspace

# Pytest cache
.pytest_cache/

# Migrations (optional, exclude if committing migrations to version control)
**/migrations/*.pyc
**/migrations/*.py
!**/migrations/__init__.py

# Coverage reports
.coverage
coverage.xml
htmlcov/
*.cover
*.coverage
.cache

# Deployment files
*.pid
*.log
*.swp

# Secret Keys or Sensitive Configs
secrets.json
.secret

# Other
*.lock
*.pem
*.crt
*.key
*.bak
debug.log
